@import "config";

%col {
  border-radius: 5px;
  width: 25rem;
  height: 15rem;
  margin: 2rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  .col-title {
    color: $Very-Dark-Blue;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .col-description {
    color: $Grayish-Blue;
    font-weight: 200;
  }

  .img {
    width: 4rem;
    margin-top: 2rem;
    float: right;
  }
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem;
  max-width: 100vw;
  min-height: 100vh;

  .header {
    width: clamp(28rem, 50vw, 40rem);
    padding-block: 2rem 4rem;
    text-align: center;

    .title-light {
      color: $Very-Dark-Blue;
      font-weight: 200;
    }

    .title-bold {
      font-weight: 600;
      color: $Very-Dark-Blue;
    }

    .description {
      font-weight: 200;
      color: $Grayish-Blue;
      padding-inline: 3rem;
    }
  }

  .main {
    max-width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 30rem));
    place-items: center;

    .col-1 {
      border-top: 3px solid $Cyan;
      @extend %col;
    }
    .col-2 {
      .sub-col-1 {
        border-top: 3px solid $Red;
        @extend %col;
      }
      .sub-col-2 {
        border-top: 3px solid $Orange;
        @extend %col;
      }
    }
    .col-3 {
      border-top: 3px solid $Blue;
      @extend %col;
    }
  }
}
